---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { formatDate } from "scripts/formatDate";
import ArticleCopyButton from "components/ArticleCopyButton";
import { BiChevronLeft } from "react-icons/bi";

export interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const blogList = await getCollection("posts");
  const postResult = blogList.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
  return [...postResult];
}

const { post } = Astro.props;
const { Content } = await post.render();
const OgURL = new URL(`/blog/${post.slug}.png`, Astro.url.origin).href;
---

<Layout title={post.data.title} desc={post.data.shortDesc} ogImage={OgURL}>
  <main>
    <section class="space-y-0.5">
      <Image
        src={post.data.heroImage}
        alt="hero-image"
        class="rounded-sm w-full"
        loading="lazy"
        decoding="async"
      />
      <div class="space-y-1">
        <h3>{post.data.title}</h3>
        <div class="flex items-end justify-between flex-wrap gap-4">
          <div class="flex items-center gap-4">
            <p class="italic">{formatDate(post.data.publishDate)}</p>
            <p
              class="bg-black text-white dark:bg-white dark:text-black rounded py-0.5 px-1 font-semibold text-xs md:text-sm"
            >
              {
                post.data.blogType.charAt(0).toUpperCase() +
                  post.data.blogType.slice(1)
              }
            </p>
          </div>
          <ArticleCopyButton title={post.data.title} client:only />
        </div>
      </div>
    </section>
    <hr class="mt-2" />
    <article>
      <Content />
    </article>
    <section class="mt-4">
      <a
        href="/blog"
        class="w-full border rounded p-2 text-center flex items-center justify-center gap-4 border-black dark:border-white hover:bg-gray-200 dark:hover:bg-gray-600"
      >
        <BiChevronLeft size={24} /> Back to Blog Pages</a
      >
    </section>
    <section class="mt-8">
      <script
        src="https://giscus.app/client.js"
        data-repo="yehezkielgunawan/yehezgun-v4"
        data-repo-id={import.meta.env.PUBLIC_REPO_ID}
        data-category="General"
        data-category-id={import.meta.env.PUBLIC_CATEGORY_ID}
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async></script>
    </section>
  </main>
</Layout>

<style is:inline>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 32px;
  }
  p {
    margin-top: 12px;
    text-align: justify;
  }
  img {
    display: block;
    margin-top: 12px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  pre {
    border-radius: 6px;
    padding: 8px;
  }
</style>
